*
{
    margin:0;
    padding:0;
    
}
body
{
    background-color: #F7F7F8;
}

header
{
    padding: 10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position:relative;
    z-index:1000;
    background-color: #232946;

}

nav a
{
    padding: 8px 10px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color:white;
    margin:0px 20px;

}

nav{
    padding:20px;
}
/* Upload Section */
.upload-container {
    width: 70%;
    margin: 60px auto;
    text-align: center;
}

.upload-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtext {
    font-size: 14px;
    color: gray;
}

.upload-box {
    display:block;
    margin-top: 30px;
    padding: 40px;
    background: #ffffff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.upload-icon {
    font-size: 65px;
    color: #232946;
    margin-bottom: 20px;
}

/* Hide the real file input */
.custom-file-upload input[type="file"] {
    display: none;
}

/* Styled fake upload button */
.custom-file-upload {
    display: inline-block;
    padding: 14px 25px;
    background-color: #232946;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 17px;
    transition: 0.3s;
}

.custom-file-upload:hover {
    background-color: #2c376e;
    
}

#fileLabel {
    margin-left: 10px;
    font-weight: bold;
}

/* Upload button */
.upload-btn {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #232946;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-btn:hover {
    background-color: #232d52;
    transform: scale(1.1);
}

#status-msg {
    margin-top: 20px;
    font-size: 18px;
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 5px;
    }

}

/* For Mobile Screens */
@media (max-width: 600px) {

    header h2 {
        font-size: 1.3rem;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 8px 0;
        font-size: 0.9rem;
    }

}